<div id="<%= dom_id journal %>" class="container bg-info bg-gradient p-5">
  <h1><%= journal.journal_name %> | <%= journal.read ? "Read" : "Unread" %></h1>
    <hr>
    <p><%= journal.journal_link %></p>
</div>