<div id="<%= dom_id journal %>">
  <p>
    <strong>Journal name:</strong>
    <%= journal.journal_name %>
  </p>

  <p>
    <strong>Journal link:</strong>
    <%= journal.journal_link %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= journal.read %>
  </p>

</div>
