<%= render @journal %>

<div>
  <%= link_to "Edit this Journal", edit_journal_path(@journal) %> |
  <%= link_to "Back to Journals", journals_path %>

  <%= button_to "Delete this Journal", @journal, method: :delete %>
</div>
